version: '3.8'

services:
  driverhub-api:
    build:
      context: ./src
      dockerfile: DriverHub.API/Dockerfile
    container_name: driverhub-api
    ports:
      - "6000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Host=host.docker.internal;Database=driverhub;Username=postgres;Password=postgres
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  driverhub-frontend:
    build:
      context: ./src/DriverHub.FrontendWeb
      dockerfile: Dockerfile
    container_name: driverhub-frontend
    ports:
      - "6005:80"
    depends_on:
      - driverhub-api
    restart: always
